<app-header></app-header>

<section id="banner" [ngStyle]="{'background-image': 'url(' + details.image + ')'}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>
        {{details.title}}
      </h2>
    </div>
    </div>
  </div>
</section>


<section id="description" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">

        <p *ngFor="let item of details.description">
          {{item.content}}
        </p>

        <h3 class="mt-4">{{details.heading}}</h3>
          <ul>
            <li *ngFor="let item of details.consulting">{{item.content}}</li>
          </ul>

        <h3 class="mt-4">Examples</h3>


      </div>
      </div>
  </div>
</section>


<app-footer></app-footer>
