
.types-grid {
  p {
    color: #fff;
  }

  ul {
    li {
      color: #fff;
    }
  }
}

.brands-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  // gap: 1rem;

  .brands-content{
    padding: 3rem 1rem;


    &:nth-child(even){
      background-color: var(--primary-color);
    }

    &:nth-child(odd){
      background-color: var(--secondary-color);

      p{
        color: var(--white);
      }

    }

    p{
      margin-bottom: 0;
    }
  }


}


@media only screen and (max-width: 767px)  {

  .brands-container{
    display: flex;
    overflow: auto;
  }

}







