<app-header></app-header>
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"></div>
    </div>
  </div>
</section>

<section id="conent-description" class="common-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-0 mb-4 color-primary">
          Business Strategy, Iconic Branding & Agile innovation consulting
        </h1>
        <p class="mb-0">
          My purpose is to help business, brands and people realize their full
          potential and make a positive impact in the world. I lived my purpose
          in Unilever for almost 23 years (25 years FMCG experience overall)
          leading the work on some amazing global and regional brands and
          businesses like Magnum, Cornetto, Paddle Pop, Wall&#39;s, Carte Dor,
          Lipton, Brooke Bond Red Label, Brooke Bond Taj Mahal, Kissan, Buavita
          in over 20 countries across D&amp;E markets in South Asia, Middle
          East, Turkey, North Africa, Russia and Southeast Asia.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="types">
  <div class="types-grid">
    <div class="types-flex-1">
      <img class="img-fluid" src="../assets/images/img1.jpg" />
    </div>

    <div class="types-flex-2 bg-color-secondary">
      <div>
        <h2 class="color-primary">Business Growth Strategy</h2>
        <p>
          All organizations have a ‘strategic plan’ but less than 15% have a
          clear growth strategy that positions them to win in the market. I work
          closely with CEO’s &amp; founders to help them and their teams create
          winning growth strategies around the choices of ‘where to play’ and
          ‘how to win’. The approach I use brings together leading edge
          strategic thinking tools, creativity and design thinking methodologies
          to create an actionable strategy that maximizes the growth potential
          of the business
        </p>

        <p>“Business Strategy is fundamentally about how an organizations can use it’s resources to win with  customer’s”.  </p>
        <p>“Strategy and planning are complimentary to each other, not a substitute for each other ! Strategy is a set of integrated actions that help you win in the segments where you decide to play. Planning is a set of sequential actions to get things done”
        </p>

      </div>
    </div>

    <div class="types-flex-2 bg-color-primary">
      <div>
        <h2 class="color-secondary">Iconic Branding</h2>
        <p>
          Iconic brands, that consumers can’t help but fall in love with, and pay a premium for, are one of the biggest drivers of share holder value. Iconic Brands are a repository of not merely functional characteristics but of meaning and value. I work with CMO’s and their brand teams to help them craft Iconic brand positioning that infuses meaning into their brands and deploy them brilliantly in the market. 
        </p>

        <ul>
          <li>Brands for <strong> people</strong></li>
          <li>Brands with <strong>meaning</strong> </li>
          <li>Brands that <strong>inspire</strong></li>
          <li>Brands with <strong>impact</strong></li>
          <li>Brands for <strong class="color-secondary">Good</strong> </li>

        </ul>
      </div>
    </div>

    <div class="types-flex-1">
      <img class="img-fluid" src="../assets/images/img1.jpg" />
    </div>

    <div class="types-flex-1">
      <img class="img-fluid" src="../assets/images/img1.jpg" />
    </div>

    <div class="types-flex-2 bg-color-secondary">
      <div>
        <h2 class="color-primary">Agile Innovation</h2>
        <p>
          Innovations are the life blood of any organization and an engine for sustainable competitive growth. However over 90% of innovations fail in the market. I work with organizations, using agile innovation methodologies, to take the ‘luck out of innovation’ and dramatically increase the odds of success. Agile innovation put’s the consumer at the heart of the innovation process. Has tools and frameworks to understand ‘consumer jobs’ and how an organization can use it’s capabilities to deliver superior solutions against the job. 
        </p>
      </div>
    </div>
  </div>
</section>
