<app-header></app-header>
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"></div>
    </div>
  </div>
</section>

<section id="conent-description">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h3 class="mt-5 content__heading">Business Strategy, Iconic Branding & Agile innovation consulting</h3>
          <p>My purpose is to help business, brands and people realize their full potential and make a positive
                    impact in the world. I lived my purpose in Unilever for almost 23 years (25 years FMCG experience
                    overall) leading the work on some amazing global and regional brands and businesses like Magnum,
                    Cornetto, Paddle Pop, Wall&#39;s, Carte Dor, Lipton, Brooke Bond Red Label, Brooke Bond Taj Mahal,
                    Kissan, Buavita in over 20 countries across D&amp;E markets in South Asia, Middle East, Turkey, North
                    Africa, Russia and Southeast Asia.</p>
      </div>
    </div>
  </div>
  <div class="container content_display">
    <div class="box">
      <img src="../../../assets/images/img1.jpg">
    </div>
    <div class="box content__section">
        <h3>Lorem ipsum</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
          the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley o
          f type and scrambled it to make a type specimen book. 
        </p>
    </div>
    <div class="box content__section_second">
      <h3>Lorem ipsum</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley o
        f type and scrambled it to make a type specimen book. 
      </p>
    </div>
    <div class="box">
      <img src="../../../assets/images/img2.jpg">
    </div>
    <div class="box">
      <img src="../../../assets/images/img3.jpg">
    </div>
    <div class="box content__section">
      <h3>Lorem ipsum</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been 
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley o
        f type and scrambled it to make a type specimen book. 
      </p>
    </div>
  </div>
</section>

<section id="types">
          <div class="container-fluid">
          <div class="row">
                    
          </div>

          </div>
</section>


