<app-header></app-header>
<section id="banner" style="background-image: url('./assets/images/home/2.png');">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"></div>
    </div>
  </div>
</section>

<section id="brands"  >
    <div class="brands-container">

      <div class="brands-content">
        <p>Brands with <strong> Wisdom</strong></p>
      </div>
      <div class="brands-content">
        <p>Brands with <strong> Inspire</strong></p>
      </div>

      <div class="brands-content">
        <p>Brands with <strong> Imagination</strong></p>
      </div>

      <div class="brands-content">
        <p>Brands with <strong> People</strong></p>
      </div>

      <div class="brands-content">
        <p>Brands with <strong> Good</strong></p>
      </div>




    </div>
</section>


<section id="content-description" class="common-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="mt-0 mb-4 color-secondary">
          Business Strategy, Iconic Branding & Agile innovation consulting
        </h1>
        <p class="mb-0 color-secondary">
          Our purpose is to help business, brands and people realize their full
          growth potential and make a positive impact on the world. We work with
          CEO’s, CMO’s and board teams on three key verticals of business growth
          strategy, brand positioning & agile innovation and help them unlock
          the full growth potential of their business.
        </p>
      </div>
    </div>
  </div>
</section>

<section id="types">
    <div class="container-fluid">
    <div [class]="isEven ? 'row align-items-center types-grid bg-color-secondary' : 'row align-items-center types-grid bg-color-primary'"  *ngFor="let item of types; even as isEven">

      <div [class]="isEven ? 'col-lg-6 p-0' : 'col-lg-6 order-lg-2 p-0' ">
        <img class="img-fluid" [src]="item.image" />
      </div>

      <div [class]="isEven ? 'col-lg-6 p-0' : 'col-lg-6 order-lg-1 p-0' ">
          <div class="p-5">
        <h2 [class]="isEven ? 'color-primary' : 'color-secondary'">{{item.title}}</h2>
        <p *ngFor="let subitem of item.description; let i=index" [class]="i=== 0 ? '' : 'd-none' ">{{subitem.content}}</p>

        <div class="mt-5 text-center" (click)="navigate(item)">
        <button href="#" class="custom-btn style-01"><span>Read More</span></button>
      </div>
      </div>
      </div>

    </div>
  </div>



</section>

<app-testimonials></app-testimonials>

<app-footer></app-footer>
