/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #f37021; /* Blue color */
  --secondary-color: #691c32; /* Yellow color */
  /* Define your gradient here */
}

.color-primary {
  color: #f37021;
}

.color-secondary {
  color: #691c32;
}

.bg-color-primary {
  background-color: #f37021 !important;
}

.bg-color-secondary {
  background-color: #691c32;
}

.common-space{
          padding: 3rem 0;
}
