/* You can add global styles to this file, and also import other style files */

:root {
--primary-color: #12122a; /* Blue color */
--secondary-color: #29ffc6; /* Yellow color */
--blue: #032175;
--white: #fff;

/* Define your gradient here */
}